<!doctype html>
<html lang="tr" ng-app>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" type="icon" media="screen" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/angular.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/angular-scenario.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/slash.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <script src="scripts/angular.js" type="text/javascript"></script>
    <script src="scripts/script.js" type="text/javascript"></script>
    <noscript>
    <link rel="stylesheet" type="text/css" href="css/noscript.css">
    </noscript>
    <title>Ahmetmatik</title>
</head>

<body class="bx">
    <noscript>
          <div>
          <center>
      <h2 class="r1">Javascript, Komut Dosyaları veya AngularJS Engellendiği İçin Ahmetmatik Sayfası Kullanılamıyor</h2>
      <br>
      <a target="_blank" href="https://www.enable-javascript.com/tr/">
        <h2 class="r2">Yardım</h2>
      </a>
    </center>
  </div>
    </noscript>
    <div class="dx">
        <center>
            <h1 class="ax">Ahmetmatiğe Hoşgeldiniz</h1>
            <table border="0.50" bgcolor="black">
                <tr bgcolor="white" align="center">
                    <th>
                        <input type="number" class="s" ng-model="s1">
                        <!-- start ({{s1...s2}}) [1] -->
                        <input type="number" class="s" ng-model="s2">
                        <!-- finish [1] -->
                        <br>
                        <!-- (+ - x ÷ % ‰ =) -->
                        <br>
                        <h4 class="w">{{s1}} + {{s2}} = {{s1+s2}}</h4>
                        <!-- start ({{w1...w6}}) [2] -->
                        <br>
                        <hr>
                        <br>
                        <h4 class="w">{{s1}} - {{s2}} = {{s1-s2}}</h4>
                        <br>
                        <hr>
                        <br>
                        <h4 class="w">{{s1}} x {{s2}} = {{s1*s2}}</h4>
                        <br>
                        <hr>
                        <br>
                        <h4 class="w">{{s1}} ÷ {{s2}} = {{s1/s2}}</h4>
                        <br>
                        <hr>
                        <br>
                        <h4 class="w" ng-model="w5">{{s1}} % {{s2}} = {{s1*s2/100}}</h4>
                        <br>
                        <hr>
                        <br>
                        <h4 class="w" ng-model="w6">{{s1}} ‰ {{s2}} = {{s1*s2/1000}}</h4>
                        <br>
                        <!-- finish [2] -->

                    </th>
                </tr>
            </table>
        </center>
    </div>
</body>

</html>
