.bx {
    margin: 10px;
    padding: 10px;
}

.s,
.w {
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    font-family: monospace;
}

head {
   display: none; 
}

* {
    box-sizing: border-box;
}
